

.bit{
  position: absolute;
  margin: auto;
  display: flex;
  left: auto;
  width: 100%;
  height: 100%;
  background-image: url(bita2.png);
  background-position: center;
  background-size: cover;
  z-index: -9999;
  animation: animate 60s linear infinite;

}
@keyframes animate {
  0%{
      background-position: 0px;
  }
  100%{
      background-position: -5440px;
  }
  
}

.me {
  width:24px;
  height:24px;
  position:relative;
  animation: MoveUpDown 2s ease-in-out alternate infinite;
}
.meW {
  width:24px;
  height:24px;
  position: relative;
  animation: MoveUpDown 2s ease-in-out alternate infinite;
           
}


.wheels {
  align-items: center;
  display:block;
  top: 65%;
  left: 60%;
  height: 200px;
  width: 200px;
  margin-right: -50%;
  transform: translate(-250%, 125%);
  z-index: 0; 
  
  position: absolute;
  
  border-top: 3px solid transparent;
  border-radius: 25px;
  animation: MoveUpDown 2s ease-in-out alternate infinite;

  /*
  @media screen and (max-width: 1120px) {
    position: absolute;
    left: 65%;
}*/

@media screen and (max-width: 850px) {
    zoom: 0.75;
        position: absolute;
        top: 70%;
        align-items: center;
        display:block;
        flex-direction: column;
        left: 150%;


}
}


.abouts{
  align-items: center;
  display:block;
  top: -10%;
  left: 40%;
  height: 200px;
  width: 200px;
  margin-right: -50%;
  transform: translate(-250%, 125%);
  z-index: 0; 
  
  position: absolute;
  
  border-top: 3px solid transparent;
  border-radius: 25px;
  animation: MUD 5s ease-in-out alternate infinite;

  
  @media screen and (max-width: 1320px) {
    top: 0%;
    left: 30%;
    transform: scale(0.8);
    
}

@media screen and (max-width: 850px) {
        
        position: absolute;
        top: 20%;
       
        flex-direction: column;
        left: -40%;
        zoom: 0.5;
    transform: scale(0.5);


}
}
.lW {
  top: 77%;
  left: 38%;
  margin-right: -50%;
}
.rW {
  top: 77%;
  left: -25%;
  margin-right: -80%;
  
}

.wheels img {
  width:48px;
  height:48px;
  position: relative;
  animation: rot 1s linear infinite;
 
        
}
.rot{
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  margin-right: -50%;
  transform: translate(-250%, 0%);
  z-index: 0; 
  
  position: absolute;
  
  border-top: 3px solid transparent;
  border-radius: 25px;
}
.hov{

  animation: hov 1s linear infinite;
}

.hov2{

  animation: hov 2s linear infinite;
}
.hov3{

  animation: hov 3s linear infinite;
}
.hov4{

  animation: hov 4s linear infinite;
}
.hov5{

  animation: hov 5s linear infinite;
}

@keyframes MoveUpDown {
  0%{
    transform: translate(-225%, 30%) ;
  }
  100% {
    transform: translate(-225%, 85%);
  }
  
}

@keyframes MUD {
  0%{
    transform: translate(-225%, 40%) ;
  }
  100% {
    transform: translate(-225%, 65%);
  }
  
}

@keyframes hov {
  0% {
    transform: translateY(0);
  }
   100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  
}

@keyframes rot {
 
 
  100% {
    transform: rotate(360deg);
  }
}






