:root {
    --marquee-width: 10000px;
    --marquee-height: 80vh;
    --marquee-elements: 22;  /* defined with JavaScript */
    --marquee-elements-displayed: 17;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 25s);
    --t: 50s;
    --w: 400px;
    --slides: 36;
    --margin: 10px;
    --sw: calc( var(--w) + calc(var(--margin) * 2));
    --tw: calc( var(--slides) * var(--sw));
    --offset: calc( var(--tw) * -1);
}

  .marquee {
    
    width: var(--marquee-width);
    height: var(--marquee-height);
    /*background-color: #111;*/
    color: #eee;
    overflow: hidden;
    position: relative;
    display: inline-block;
    filter: blur(.05rem);
    
  }
  
  .marquee:before, .marquee:after {
    
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
  }
  .marquee:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
  }
  .marquee-content {
    
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--t) linear infinite;
    }
  /* .marquee-content:hover {
    animation-play-state: paused;
  } 
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }*/
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width + 50);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
  }
  li {
    display:inline;
    padding: 10px 40px;
}
  
  .marquee-content li img {
    width: 80%;
     height:90%; 
    border: 20px solid #660099;
    box-shadow: 20px 20px rgba(0,0,0,.15);
   
    border-image: url(f1.png) 33% round;
    /*border-image: linear-gradient(#ff3cac, #562b7c) 27;
    background-image: linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);*/
  }
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  
  /*
  @media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
      --marquee-width: 100vw;
      --marquee-height: 16vh;
      --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }
*/
  @keyframes scrollingSlider {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(var(--offset));
    }
  }

  .marquee-parent {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 30px;
  }
  .marquee-child {
    display: block;
    width: 100%;
    /* width of your text div */
    height: 100%;
    /* height of your text div */
    position: absolute;
    animation: marquee 50s linear infinite; /* change 5s value to your desired speed */
  }
  .marquee-child:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-1000%);
    }
  }