.home {
    background-color: #101522;
    background: url(ground7.jpg) no-repeat center center fixed ;
    background-position: center;
    background-size: cover;
    
    @media screen and (max-width: 728px) {
        margin: auto;
        display: block;
        align-items: center;
        min-height: 100%;
        margin: auto;
       
        
    }
}


.about {
    background-color: #101522;
    background: url(road.jpg) no-repeat center center fixed ;
    background-position: center;
    background-size: cover;
    
    @media screen and (max-width: 728px) {
        margin: auto;
        display: block;
        align-items: center;
        min-height: 100%;
        margin: auto;
       
        
    }
}

.works {
    background-color: #101522;
    background: url(road.jpg) no-repeat center center fixed ;
    background-position: center;
    background-size: cover;
    
    @media screen and (max-width: 728px) {
        margin: auto;
        display: block;
        align-items: center;
        min-height: 100%;
        margin: auto;
       
        
    }
}

.projects {
    background-color: #101522;
    background: url(road.jpg) no-repeat center center fixed ;
    background-position: center;
    background-size: cover;
    
    @media screen and (max-width: 728px) {
        margin: auto;
        display: block;
        align-items: center;
        min-height: 100%;
        margin: auto;
       
        
    }
}

.fun {
    background-color: #101522;
    background: url(road.jpg) no-repeat center center fixed ;
    background-position: center;
    background-size: cover;
    
    @media screen and (max-width: 728px) {
        margin: auto;
        display: block;
        align-items: center;
        min-height: 100%;
        margin: auto;
       
        
    }
}